# LaTeX build artifacts
*.aux
*.log
*.toc
*.lof
*.lot
*.lol
*.out
*.bbl
*.bcf
*.blg
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
*.glo
*.gls
*.glg
*.glsdefs
*.ist
*.acn
*.acr
*.alg
*.nlo
*.nls
*.pyg
_minted*/
*.pdf
!Page_Garde_MemoireSAE.pdf
!Page_Garde_MemoireSAE_en.pdf
